<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="fragments/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>任务批次管理</title>
    <script type="application/javascript">
        $(document).ready(function(e) {

            $("#hxy").change(function(){
                //如果全选被选中，则选中所有子选项;否则取消选中子选项
                if($(this).is(":checked")){
                    $("[name=checkusers]").prop("checked",true);
                }else{
                    $("[name=checkusers]").prop("checked",false);
                }
            });

            //当改变子选项时，需要判断子选项是否全部被选中，如果全部被选中，那么全选被选中；否则全选不被选中
            $("[name=checkusers]").change(function(){
                if($("[name=checkusers]:checked").length==$("[name=checkusers]").length){
                    $("#hxy").prop("checked",true);
                }else{
                    $("#hxy").prop("checked",false);
                }
            });

            $('form').submit(function(){
                    var ch = false;
                    var checkvalue='';
                    $("[name=checkusers]").each(function() {
                        if ($(this).is(':checked')) {
                            ch= true;
                            checkvalue+=$(this).val()+',';
                        }
                    });
                    if(!ch) {
                        alert("未选中任何标注人员，无法发布！");
                        return false;
                    }
                    $("#sysusers").val(checkvalue.substr(0,checkvalue.length-1));
                }
            );
        });

    </script>
</head>

<body>
<div layout:fragment="content">
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">任务管理</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                添加任务人
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div th:text="${msg}" style="color: #ff201e;"></div>

                                            <div class="form-group">
                                                <label>任务批次：</label>
                                                <div th:text="${taskbatch.batchno}"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>标题：</label>
                                                <div th:text="${taskbatch.title}"></div>
                                            </div>

                                            <div class="form-group">
                                                <label>文件数量：</label>
                                                <div th:text="${taskbatch.filecounts}"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>任务描述：</label>
                                                <div th:text="${taskbatch.descr}"></div>
                                            </div>
                                            <div class="form-group">
                                                <label>任务类型</label>
                                                <div th:switch="${taskbatch.type}">
                                                    <span th:case="'1'">笔录</span>
                                                    <span th:case="'2'">车牌识别</span>
                                                    <span th:case="'3'">车辆信息</span>
                                                    <span th:case="'4'">文本信息</span>
                                                    <span th:case="'5'">行人信息</span>
                                                </div>
                                            </div>
                                        <form role="form" th:action="@{../admin/taskbatchadduser}" method="post" >
                                            <input type="hidden" th:value="${taskbatch.batchno}" name="batchno" id="batchno">
                                            <input type="hidden" name="sysusers" id="sysusers">
                                            <div class="form-group">
                                                <label>分配标注员</label>
                                                <input type="checkbox"  id="hxy"/>全选/不全选
                                                <div th:each="m,iterStat : ${sysuserList}">
                                                  <input type="checkbox" name="checkusers" th:value="${m.getId()}" > <span th:text="${m.name}+'('+${m.donum==null?'0':m.donum}+')'"></span>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-default">发布</button>
                                            <button type="reset" class="btn btn-default">重 置</button>
                                        </form>

                                    </div>

                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
        <!-- /#page-wrapper -->
</div>



</body>

</html>
